@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Variáveis Globais */
  --bg-page-light: #ffffff;
  --text-page-light: #111827;
  
  --bg-page-dark: #000000;
  --text-page-dark: #f9fafb;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  /* Padrão Claro */
  background-color: var(--bg-page-light);
  color: var(--text-page-light);
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Quando a classe 'dark' está no HTML */
html.dark #root {
  background-color: var(--bg-page-dark);
  color: var(--text-page-dark);
}